* {
  padding: 0;
  margin: 0;
  border: 0;
}

html {
  margin: 100px 10%;
  width: auto;
  background: rgb(255, 179, 166);
  font-family: 'Xanh Mono', monospace;
  color: red;
  text-align: center;
  box-sizing: border-box;
}

h1 {
  font-size: 100px;
  padding-bottom: 20px;
}

h2 {
  padding-bottom: 100px;
}

.images {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.images img {
  opacity: 70%;
  aspect-ratio: 1;
  border-radius: 500px;
  width: 25%;
  object-fit: cover;
  margin: 50px 50px;
  background-color: red;
  mix-blend-mode: overlay;
  transition: all 0.2s;
}


.images img:hover {
  mix-blend-mode: normal;
  opacity: 100%;
}

.bigpic img {
  opacity: 100%;
  display: none;
  max-width: 90%;
  max-height: 90%;
  z-index: 10;
  margin: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button {
  color: red;
  font-size: 50pt;
  background-color: transparent;
}

#ex {
  font-size: 24pt;
}

#previous {
  display: none;
  position: fixed;
  top: 50%;
  left: 5%;
  z-index: 10;
}

#next {
  display: none;
  position: fixed;
  top: 50%;
  right: 5%;
  z-index: 10;
}

#x {
  display: none;
  position: fixed;
  top: 5%;
  right: 5%;
}
